%div
  - if @books.present?
    %table.table
    - @books.each_with_index do |book, i|
      -if (i + 1) % 4 == 0
        %tr
      %td= link_to image_tag(url_for(action: 'get_thumbnail', id: book.id), size:  '200x200', border: '0'), book_path(book.id)
    = will_paginate @books, previous_label: '≪前', next_label: '次≫'
  - else
    %p 本がないよ
