%table 
  %tbody
    %tr
      %td
        名前:
      %td
        =p @book.name
    %tr
      %td
        著者名:
      %td
        =p @book.author
    %tr
      %td
        出版社:
      %td
        =p @book.publisher
    %tr
      %td
        カテゴリー:
      %td
        =p @book.category_id
    %tr
      %td
        価格:
      %td
        =p @book.price
    %tr
      %td
        サムネイル:
      %td
        = image_tag(url_for(:action => 'get_thumbnail', :id => @book.id), :size => '200x200')
    %tr
      %td
        = button_to "ダウンロード",{:controller => "books",:action=>"download_file"}
