=javascript_include_tag 'js/tag_search.js'

%h1
  タグ一覧
= form_for '@tag', html: {autocomplete: 'off'}, url: {controller: 'tags', action: 'create'} do |f|
  = p '検索'
  = f.text_field :name
  = f.submit '新規登録'

%table
  %thead
    %tr
      %th タグ名
  %tbody
